/*ubicacion*/

.ubicacion{
  padding: 0 1rem;
  margin: 1rem;

}

.ubicacion__contenedor{
  background-color: #ba9a69ec;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 6px;
  width: 600px;
  margin: 0 auto;


}


.ubicacion__iframe{
   text-align: center;
 

   iframe {
    width: 400px;
    height: 400px;
    border-radius: 12px;
  }
  
}

@media screen and (min-width:500px) and (max-width:670px){
  .ubicacion__contenedor {
   width: 450px;

  }

  .ubicacion__iframe iframe{
   text-align: center;
    height: 300px;
    width: 300px;
  }

}


@media screen and (min-width:400px) and (max-width:500px){
  .ubicacion__contenedor {
   width: 350px;

  }

  .ubicacion__iframe iframe{
   text-align: center;
    height: 150px;
    width: 200px;
  }

}

@media screen and (min-width:300px) and (max-width:400px){
  .ubicacion__contenedor {
   width: 300px;

  }

  .ubicacion__iframe iframe{
   text-align: center;
    height: 150px;
    width: 200px;
  }

}

@media screen and (min-width:200px) and (max-width:300px){
  .ubicacion__contenedor {
   width: 200px;

  }

  .ubicacion__iframe iframe{
   text-align: center;
    height: 200px;
    width: 200px;
  }

}


.ubicacion__pais{
  list-style-type: none;
  text-align: center;

  li {
  display: inline;
  font-family: $fuentePrimaria;
  text-align: center;
  margin-right: 40px;
  color: #FFFFFF;
  }
}

.ubicacion__sede{
  font-family: $fuentePrimaria;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #D9D9D9;
}

@media screen and (min-width:200px) and (max-width:500px){
  .ubicacion__pais li {
      display: block;
      margin-right: 20px;  

  }

  .ubicacion__sede{
    font-size: 24px;
  }
}







@media screen and (min-width:300px) and (max-width:1000px){
  .tipografia {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 0px;
    
  }
}



/*termina ubicacion*/

/*formulario*/

#contacto {
    margin: 100px 10% 0px 10%;
    overflow: hidden;

    h1 {
    text-align: center;
    margin: 10px;
    font-family: $fuentePrimaria;
    color: black;
    font-weight: bold;
    }

    p {
    font-family: $fuentePrimaria;
    font-size: 22px;
    text-align: center;
    }

}

@media screen and (min-width:300px) and (max-width:1000px){
  #contacto, h1, {
    font-size: 22px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
  }

  #contacto p {
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
  }
}


.contacto__formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
    overflow: hidden;

    form {
    width: 60%;
    margin: 2rem 20%;

      button {
      background-color: #b39975;
      border: none;

        &:hover {
        background-color: black;
        }

      }

    }

}


.formulario__btn {
    margin-top: 1rem;
    width: 100%;
    border-radius: 4px;
}


.checkbox_grupo {
  display: flex;
  flex-direction: column;
  
}

@media screen and (min-width:300px) and (max-width:1000px){
  .checkbox_grupo {
    font-size: 10px;
   
    margin: 10px 0; 
  }
}

.checkbox_grupo__contenedor {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;

    .checkbox_grupo__label {
  font-size: 1.2em;
  margin: 0 10px;
  }

   .checkbox_grupo__marcado {
  width: 25px;
  height: 25px;
  border: 1px solid #C9C8C8;
  display: inline-block;
  border-radius: 3px;
  background: #222 url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
  transition: background-size 0.2s ease;
  }

   input:checked + .checkbox_grupo__marcado {
  background-size: 60%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
  }
 
  input {
  display: none;
  }

}






